main {
    max-width: 1200px;
    box-shadow: 0px 0px 100px rgba(5, 10, 65, 0.356);
    border-radius: 2rem;
}

section {
    padding: 2rem 1rem;
}

section h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    position: relative;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem 1rem;
    justify-items: center;
}

.post-footer {
    text-align: center;
}

.post-footer button {
    margin-top: 1rem;
    padding: 0.4rem 0.7rem;
    background-color: #152d5a;
    border-radius: 0.4rem;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.post-footer button:disabled {
    background-color: #2c323e;
    cursor: not-allowed;
}

.post-footer button:hover {
    transform: scale(1.1);
}

.post-footer button:not(:disabled) span::after {
    content: "\e84f";
    font-family: Unicons;
}

@media screen and (max-width: 700px) {
    main section.m-8 {
        margin: 0 !important;
    }
}
